@import "../../../../styles/colors.scss";

.set-card {
  &__name {
    margin-right: 24px;
    font-size: 24px;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;

    input {
      border: 1px solid $input-color;
      padding: 4px 12px;
      border-radius: 4px;
      background-color: $input-color;
      width: 100%;
    }
  }

  &__name-and-value {
    font-size: 24px;
  }

  &-wrapper {
    border: 1px solid #c0c0c0;
    padding: 12px;
    border-radius: 4px;
  }
}
