@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/configs';

.button {
  display: inline-block;
  text-decoration: none;
  padding: 4px 16px;
  line-height: 1.2em;
  border: 2px solid;
  border-radius: 25px;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  min-height: 40px;

  &--size-xs {
    font-size: 1rem;
    min-width: 88px;
    padding-top: 1px;
  }

  &--size-sm {
    font-size: 1.5625rem;
    min-width: 120px;
    padding-top: 1px;
  }

  &--size-md {
    font-size: 1.75rem;
    min-width: 185px;
    padding-top: 1px;
  }

  &--size-fluid {
    font-size: 2rem;
    width: 100%;
    padding-top: 1px;
  }

  &--mb-sm {
    margin-bottom: 8px;
  }

  &--mt-sm {
    margin-top: 8px;
  }

  &--mr-sm {
    margin-right: 8px;
  }

  &--ml-sm {
    margin-left: 8px;
  }

  &--mt-md {
    margin-top: 16px;
  }

  &--ml-md {
    margin-left: 16px;
  }

  &--mb-md {
    margin-bottom: 16px;
  }

  &--mr-md {
    margin-right: 16px;
  }

  &--ml-lg {
    margin-left: 32px;
  }

  &--mt-lg {
    margin-top: 32px;
  }

  &--mr-lg {
    margin-right: 32px;
  }

  &--mb-lg {
    margin-bottom: 32px;
  }

  &--mt-xl {
    margin-top: 48px;
  }

  &--ml-xl {
    margin-left: 48px;
  }

  &--mr-xl {
    margin-right: 48px;
  }

  &--mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  &--variant-contained {
    &.button--color-orange {
      border-color: $orange;
      background-color: $orange;
      color: #ffffff;

      @include btn-hover(rgba(0, 0, 0, 0), $orange, $orange);
    }
    &.button--color-white {
      border-color: #fff;
      background-color: #fff;
      color: $dark-blue;

      @include btn-hover(rgba(0, 0, 0, 0), $text-color, #ffffff);
    }
  }

  &--variant-outlined {
    &.button--color-orange {
      border-color: $orange;
      color: $orange;

      @include btn-hover($orange, $dark-blue, $orange);
    }
    &.button--color-white {
      border-color: #fff;
      color: $text-color;

      @include btn-hover(#ffffff, $dark-blue, #ffffff);
    }
  }

  &--uppercase {
    text-transform: uppercase;
    padding-top: 4px;
  }
}
