.home-link-card {
  background-color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  box-shadow: 0 2px 8px 0 rgba(186, 186, 186, 0.6);
  padding: 24px;

  &:hover {
    text-decoration: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
  }

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 24px;
  }

  &__des {
    font-size: 18px;
  }
}
